$headerHeight: 6;
.header {
	height: $headerHeight * 1em;

	h1 {
		font-size: 4em;
		padding-top: .3em;

		span {
			display: inline-block;
		}
                
                span:last-child {
                    margin-top: 4px;
                }
	}

	.nav {
		height: $headerHeight * 1em;

		ul {

			li {
				font-size: 1.7em;
				line-height: 1em;
			}
		}
	}
}

.tagline {
	padding-left: 7.7em;
}